<div class="generalcontent">


<% content_for :title do %>About<% end %>
<h3>About Youserve</h3>
<p>
	YouServe is an internet platform that turn your audience into an auto-funded task force to solve common problems. The Goal is to help you leading legitimate and sustainable actions directly into the world, instead of spending your time protesting on social media or rioting in the streets. YouServe helps citizens around the world shaping their societies free from political or financial partisanship. 


</p>



</div>