<%= tinymce_assets %>
<div class="content">
  <% if !current_user.admin? %>
    <div class="notice">
     <p>
      Hey <%= current_user.name.split(" ")[0] %>, <br> <br>
      To create a project, you must have <strong>Project Manager Status.</strong>
      Please introduce yourself and complete the following form to request a Project Manager Status.
      Once your request is accepted and your project approved, you will gain Project Manager Status.
      Then you will be able to create and manage your projects.
      </p>
    </div>
  <% end %>

  <%= render 'form' %>
  </div>
</div>
