$white: #fff;
$white-green: #f5f8f5;
$white-green-alt: #f4fff4;
$opaque-white: #eee;
$light-gray: #d2d2d4;
$medium-gray: #a5a2aa;
$dark-gray: #445;
$muted-black: #1a2222;
// $black: #111119;


$orange: #ff7f4c;
$orange-hover: #ed8055;

$sky-blue: #39c0ff;
$sky-blue-hover: #35B8F4;

$success-green: #6db;

$red: #e44;

$border-dark: #c2c2c4;
$border-light: #ededf2;
