<footer>
  <div class="footer-content">
    <ul class="footer-links">
      <li class="copyright">YouServe &copy; <%= Time.now.year %></li>
      <li><a href="mailto:e.c.mere@gmail.com">Contact</a></li>
      <li><%= link_to 'About', page_path('discover') %></li>
    </ul>
  </div>
</footer>
