<%# add navigation links to this file %>
<li><%= link_to 'Create a Project', new_project_path %></li>
<li><%= link_to 'Active Projects', projects_path %></li>

<% if user_signed_in? %>
  <% if current_user.admin? %>
    <li><%= link_to 'Directory', users_path %></li>
  <%end%>
<%end%>
